.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../public/weather-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app__loader{
    border: 4px solid #09f;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: transparent;
    animation: spin 1s ease infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}